body {
    text-align: center;
}

.frame {
    text-align: center;
    background-color: cadetblue;

    width: 60%;
    height: 600px;
    margin: auto;
    padding: 20px;

    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: darkslateblue;
}

.canvas_container {
    margin: auto;
    width: 100%;
    min-width: 300px;
    max-width: 300px;

    height: 100%;
    min-height: 600px;
    max-height: 600px;

    text-align: center;
    justify-content: center;
    align-items: center;

    border-style: dashed;
    border-color: red;
}

canvas {
    display: inline;
}
