body {
    text-align: center;
    background-color: slateblue;
}

.frame {
    display: flex;
    text-align: center;
    background-color: #c3bdebca;

    width: 60%;
    min-width: 700px;
    max-width: 700px;
    height: 600px;
    margin: auto;
    padding: 20px;

    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: darkslateblue;
}

.canvas_container {
    margin: auto;
    width: 50%;
    min-width: 300px;
    max-width: 300px;

    height: 100%;
    min-height: 600px;
    max-height: 600px;

    text-align: center;

    border-style: double;
    border-color: darkslateblue;

    background-color: black;
}

.hud_container {
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;

    width: 40%;
}

.hud_line {
    padding-top: 20px;
    padding-bottom: 20px;
}

.hud_param {
    display: inline;
    text-align: left;
    padding-right: 20px;
    font-size: 30px;
    font-weight: bold;
}

.hud_value {
    display: inline;
    text-align: right;
    padding-left: 20px;
    font-size: 30px;
}

canvas {
    display: inline;
}
